<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<!--<Product Id="80753BFC-D514-4211-9618-3758F723AD10" Name="Installer2" Language="1033" Version="1.0.0.0" 
			 Manufacturer="The pgAdmin Development Team" 
			 UpgradeCode="A75A3D21-4A0A-4E7C-9A3D-5E7917A1CBBC">
			 pgAdmin III
	-->
	<?define ProductName="pgAdmin III" ?>
	<?define ProductVersion='1.23'?>
	<?define ProductId='A35D4C3E-1AED-43BC-8E82-B80DDC9D197C'?>
	<?define UpgradeId='472D05AD-DCED-4210-B4F8-0FAA71D72782'?>
	<?define AppId='A98E8BFD-CA98-4E72-B64E-3DE14985256B'?>
	<?define DocId='EC572F39-9085-4B9A-817D-99008B9D3F13'?>
	<?define ShortcutId='2F0FE7C1-069A-4351-9BCE-2BF10C9F9FB7'?>
	<?define CoreLibId='F1BDD62A-3E2D-446E-AAD5-258BD2FA6968'?>
	<?define AppName='pgAdmin3.exe'?>
	<?define SourceDir='$(var.pgAdmin3.TargetDir)'?>
	<?define ProjectDir='$(var.pgAdmin3.ProjectDir)'?>	
	<?define BUILDTREE='$(var.SolutionDir)'?>
	
	<?define AppVersion='$(var.ProductVersion).0'?>	
	<?define AppVendor=Original vendor:The pgAdmin Development Team. Fix for latest version of Postgresql by Begafix?>	
	<?define AppKeyWords=PostgreSQL, pgAdmin?> 
	<?define AppComments=PostgreSQL Tools?>
	<?define AppDescription=Management and administration tools for the PostgreSQL DBMS?>
	<!-- Core libx-->
	<?define LibNetVC='wxbase30u_net_vc_x64_custom.dll'?>
	<?define LibVC='wxbase30u_vc_x64_custom.dll'?>
	<?define LibXml='wxbase30u_xml_vc_x64_custom.dll'?>
	<?define LibAdv='wxmsw30u_adv_vc_x64_custom.dll'?>
	<?define LibAui='wxmsw30u_aui_vc_x64_custom.dll'?>
	<?define LibCore='wxmsw30u_core_vc_x64_custom.dll'?>
	<?define LibHtml='wxmsw30u_html_vc_x64_custom.dll'?>
	<?define LibStc='wxmsw30u_stc_vc_x64_custom.dll'?>
	<?define LibXrc='wxmsw30u_xrc_vc_x64_custom.dll'?>
	<!-- Postgresql libx-->
	<?define LibCrypto='libcrypto-1_1-x64.dll'?>
	<?define LibConv='libiconv-2.dll'?>
	<?define LibIntl='libintl-9.dll'?>
	<?define LibPQ='libpq.dll'?>	
	<?define LibSll='libssl-1_1-x64.dll'?>
	<?define LibXml2='libxml2.dll'?>
	<?define LibXslt='libxslt.dll'?>
	<?define PgDir='$(env.PGDIR)'?>
	<!-- VS libraries -->
	<?define zlib='zlib1.dll' ?>
	<?define libwinpthread='libwinpthread-1.dll' ?>
	<!-- OpenSSL lib -->
	<?define libeay32='libeay32.dll' ?>
	

	<Product Id="$(var.ProductId)" Name="$(var.ProductName)" Language="1033" Version="$(var.AppVersion)"
			 Manufacturer="$(var.AppVendor)"
			 UpgradeCode="$(var.UpgradeId)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<Media Id='1' Cabinet='data.cab' EmbedCab='no'  />		

		<UI>
			<UIRef Id='WixUI_Advanced'/>
		</UI>
		
		<Property Id="ApplicationFolderName" Value="$(var.ProductName)" />
		<Property Id="WixAppFolder" Value="WixPerMachineFolder" />


		<Feature Id="MainApplication" Title="$(var.ProductName)" Level="1">
			<ComponentRef Id="myapp_exe" />
			<!--<ComponentRef Id="doc" />-->
			<ComponentRef Id="core_libs"/>
			<ComponentRef Id="plugins.d"/>
			<ComponentRef Id="pg_exec"/>
			<ComponentRef Id="i18n"/>
			<!-- Step 3: Tell WiX to install the shortcut -->
			<ComponentRef Id="ApplicationShortcut" />			
		</Feature>

	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="AppRootDir" Name="$(var.ProductName)" >
					<Directory Id="VersionDir" Name="$(var.ProductVersion)"/>						 				
				</Directory>				
			</Directory>
			<!-- Step 1: Define the directory structure -->
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName) $(var.ProductVersion)" >											
					
				</Directory>
			</Directory>
			<Directory Id="DesktopFolder"/>
							
		</Directory>
		<!--<Property Id="WIXUI_INSTALLDIR" Value="AppRootDir" />-->
		<!--<UIRef Id="WixUI_InstallDir" />-->		
	</Fragment>

	<Fragment Id="InstalledFiles">
		<DirectoryRef Id="VersionDir">
			<Component Id="myapp_exe" Guid="$(var.AppId)">
				<File Id="pgadmin_exe" Source="$(var.SourceDir)\PgAdmin3.exe" KeyPath="yes" Checksum="yes"/>				
				<ProgId Id="pgAdmin.1" Icon="pgadmin_exe" IconIndex="1">
						   <Extension ContentType="text/plain" Id="sql">
							   <Verb Id="open" Command="Open" TargetFile="pgadmin_exe" Argument='-q -f "%1"' />
							</Extension>
				</ProgId>				
			</Component>
			<Component Id="core_libs" Guid="$(var.CoreLibId)" KeyPath="yes">
				<File Id="core_libs.wxbase30u_net_vc_x64_custom.dll"  Name="wxbase30u_net_vc_x64_custom.dll" Source="$(var.SourceDir)\wxbase30u_net_vc_x64_custom.dll"  Checksum="yes"/>
				<File Id="core_libs.wxbase30u_vc_x64_custom.dll"  Name="wxbase30u_vc_x64_custom.dll" Source="$(var.SourceDir)\wxbase30u_vc_x64_custom.dll"  Checksum="yes"/>
				<File Id="core_libs.$(var.LibXml)"  Name="$(var.LibXml)" Source="$(var.SourceDir)\$(var.LibXml)"  Checksum="yes"/>
				<File Id="core_libs.$(var.LibAdv)"  Name="$(var.LibAdv)" Source="$(var.SourceDir)\$(var.LibAdv)"  Checksum="yes"/>
				<File Id="core_libs.$(var.LibAui)"  Name="$(var.LibAui)" Source="$(var.SourceDir)\$(var.LibAui)"  Checksum="yes"/>
				<File Id="core_libs.$(var.LibCore)"  Name="$(var.LibCore)" Source="$(var.SourceDir)\$(var.LibCore)"  Checksum="yes"/>
				<File Id="core_libs.$(var.LibHtml)"  Name="$(var.LibHtml)" Source="$(var.SourceDir)\$(var.LibHtml)"  Checksum="yes"/>
				<File Id="core_libs.$(var.LibStc)"  Name="$(var.LibStc)" Source="$(var.SourceDir)\$(var.LibStc)"  Checksum="yes"/>
				<File Id="core_libs.$(var.LibXrc)"  Name="$(var.LibXrc)" Source="$(var.SourceDir)\$(var.LibXrc)"  Checksum="yes"/>
				<!-- Postgresql libs -->
				<File Id="crypto"  Name="$(var.LibCrypto)" Source="$(var.SourceDir)\$(var.LibCrypto)"  Checksum="yes"/>
				<File Id="conv"  Name="$(var.LibConv)" Source="$(var.SourceDir)\$(var.LibConv)"  Checksum="yes"/>
				<File Id="intl"  Name="$(var.LibIntl)" Source="$(var.SourceDir)\$(var.LibIntl)"  Checksum="yes"/>
				<File Id="pq"  Name="$(var.LibPQ)" Source="$(var.SourceDir)\$(var.LibPQ)"  Checksum="yes"/>
				<File Id="sll"  Name="$(var.LibSll)" Source="$(var.SourceDir)\$(var.LibSll)"  Checksum="yes"/>
				<File Id="xml2"  Name="$(var.LibXml2)" Source="$(var.SourceDir)\$(var.LibXml2)"  Checksum="yes"/>
				<File Id="xslt"  Name="$(var.LibXslt)" Source="$(var.SourceDir)\$(var.LibXslt)"  Checksum="yes"/>
				<!-- VS libs -->
				<File Id="zlib" Name="$(var.zlib)" Source="$(var.SolutionDir)pkg\windows\Installer2\lib\$(var.zlib)" Checksum="yes"   />
				<File Id="libwinpthread" Name="$(var.libwinpthread)" Source="$(var.SolutionDir)pkg\windows\Installer2\lib\$(var.libwinpthread)" Checksum="yes"   />
				<!-- OpenSSL libs -->
				<File Id="libeay32" Name="$(var.libeay32)" Source="$(var.SolutionDir)pkg\windows\Installer2\lib\$(var.libeay32)" Checksum="yes"   />
				<!-- Settings -->
				<File Id="settings" Name="settings.ini" Source="$(var.SolutionDir)pgAdmin\settings.ini"  />
			</Component>
			
			<!--PgExec-->
			<Component Id="pg_exec" Guid="A2427C94-AF2C-4BDD-A0DA-73C47F2B4613" KeyPath="yes">
				<File Id="pg_dump" Name="pg_dump.exe" Source="$(var.PgDir)\bin\pg_dump.exe" Checksum="yes"/>
				<File Id="pg_dumpall" Name="pg_dumpall.exe" Source="$(var.PgDir)\bin\pg_dumpall.exe" Checksum="yes"/>
				<File Id="pg_restore" Name="pg_restore.exe" Source="$(var.PgDir)\bin\pg_restore.exe" Checksum="yes"/>
				<File Id="psql" Name="psql.exe" Source="$(var.PgDir)\bin\psql.exe" Checksum="yes"/>
			</Component>
			
			<!-- i18n -->
			<Directory Id="i18nDir" Name="i18n">
				<Component Id="i18n" Guid="{BC3CA712-3710-46F7-A042-86B5926ADBC8}" KeyPath="yes">
					<File Id="lng.settings" Name="pg_settings.csv" Source="$(var.SolutionDir)i18n\pg_settings.csv"/>
					<File Id="lng.pgadmin" Name="pgadmin3.lng" Source="$(var.SolutionDir)i18n\pgadmin3.lng"/>
				</Component>
				<?include i18ndata.wxi?>
			</Directory>
			
			<!--Doc-->
			<!--
			<Directory Id="DocDir" Name="Docs">
				<Component Id="doc" Guid="$(var.DocId)">
					<File Id="doc" Source="c:\temp\calc.html" KeyPath="yes"/>
				</Component>
			</Directory>
			-->
			
			<!-- Plugins -->
			<Directory Id="PluginDir" Name="plugins.d" >
				<Component Id="plugins.d" Guid="{A38E536A-9643-4DE0-80D2-BFFF0E2D82DD}" KeyPath="yes">
					 <File Id="plugins.d.plugins.ini" Name="plugins.ini" Source="$(var.SolutionDir)plugins.d\plugins.ini" />
				</Component>
			</Directory>
		
			
		</DirectoryRef>
		<!-- Step 2: Add the shortcut to your installer package -->
		<!--<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="$(var.ShortcutId)">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.ProductName)"  Description="$(var.AppDescription)" Target="[#myapp.exe]"
                          WorkingDirectory="AppRootDir"/>
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>				
				<RegistryValue Id="HAppKey" Root="HKCU" Key="Software\$(var.ProductName).3" Name="installed" Type="integer" Value="1" KeyPath="yes" />
				<RemoveRegistryKey Id="HAppKeyRemove" Root="HKCU" Key="Software\$(var.ProductName).3" Action="removeOnUninstall"/>
			</Component>
		</DirectoryRef>-->		
		
	</Fragment>

	<Fragment Id="Shortcuts">
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Directory Id="AppMenuDir" Name="$(var.ProductName)">
				<Component Id="ApplicationShortcut" Guid="$(var.ShortcutId)" >	
					
					<Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.ProductName)"  
						Description="$(var.AppDescription)" Target="[#pgadmin_exe]"
						WorkingDirectory="AppRootDir"/>
					
					
					<Shortcut Id="DesktopShortcut" Name="$(var.ProductName)"  
						Description="$(var.AppDescription)" Target="[#pgadmin_exe]"
						Directory="DesktopFolder" 
						WorkingDirectory="AppRootDir"/>				
					
					<RegistryKey Id="HAppKey" Root="HKCU" Key="Software\$(var.ProductName)"
								 Action="createAndRemoveOnUninstall">
						<RegistryValue Name="Font" Type="string" Value="0;-17;0;0;0;400;0;0;0;204;3;2;1;34;Segoe UI" KeyPath="yes"/>
						<RegistryValue Name="LogLevel" Type="integer" Value="3"/>
						<RegistryValue Name="LanguageId" Type="integer" Value="60"/>
						<RegistryValue Name="DDFont" Type="string" Value="0;-17;0;0;0;400;0;0;0;204;3;2;1;34;Segoe UI"/>
 						<RegistryValue Key="Display" Name="Types" Type="string" Value="true"/>
						<RegistryValue Key="frmQuery" Name="Font" Type="string" Value="0;-17;0;0;0;400;0;0;0;204;3;2;1;49;Courier New"/>
					</RegistryKey>
					
					<!--<RegistryValue Id="HAppKey" Root="HKCU" Key="Software\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
					
					
					<RemoveRegistryKey Id="HAppKeyRemove" Root="HKCU" Key="Software\$(var.ProductName).3" Action="removeOnUninstall"/>
					-->
					<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" Directory="ApplicationProgramsFolder"/>
					<RemoveFolder Id="AppMenuDir" On="uninstall"/>
				</Component>
				
			</Directory>			
		</DirectoryRef>	
		
	</Fragment>	
	
</Wix>
